<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Booking</title>
</head>
<%- include('./partials/styles.ejs') %>
<body>
    <%- include("./partials/navbar_afterLogin.ejs") %>
    <h1>Rental Details</h1>
    <form action="/booking/location" method="POST">
      <button class="button">Customer's Location</button>
    </form>

    




  
</body>
</html>