<!DOCTYPE html>
<html>

<head>
  <title>CSS Template</title>
</head>
<%- include('../partials/styles.ejs') %>
<body>
  <%- include("../partials/navbar_beforeLogin.ejs") %>
  <header>
    <h2> CarRental</h2>
  </header>

  <%- include('../partials/footer.ejs') %>
</body>

</html>
