<!DOCTYPE html>
<html>

<head>
  <title>CarRental</title>
</head>
<%- include('../partials/styles.ejs') %>
<body>
  <% if (navbar === 'before') { %>
    <%- include("../partials/navbar_beforeLogin.ejs") %>
    <% } else { %>
    <%- include("../partials/navbar_afterLogin.ejs") %>
    <%}%>
  
  <header>
    <h2> CarRental</h2>
  </header>

  <%- include('../partials/footer.ejs') %>
</body>

</html>
